<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Microblog</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/posts">Microblog</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
        </ul>

        <div sec:authorize="!isAuthenticated()" >
            <a class="nav-link" href="/login">Login </a>
        </div>
        <div sec:authorize="!isAuthenticated()" >
            <a class="nav-link" href="/user/register">Register </a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <img  class="bd-placeholder-img mr-2 rounded" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false" th:src="'/avatars/'+${#authentication.getPrincipal().getAvatar()}" width="32" height="32" th:title="'@'+${#authentication.getPrincipal().getUsername()}"/>

            <a th:href="@{/user/{id}(id =${#authentication.getPrincipal().getUsername()}  }"> <span th:text="'@'+${#authentication.getPrincipal().getUsername()}"></span> </a>

            <span th:text="${#authentication.getPrincipal().getAuthorities()}"></span>

        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/logout">LOG OUT<span class="sr-only">(current)</span></a>
        </div>


    </div>
</nav>


<main role="main" class="container">

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">All posts</h6>

        <th:block th:each="tempPost: ${posts}">
            <div class="media text-muted pt-3">

                <a th:href="@{/user/{id}(id = ${tempPost.user.id})}">
                    <img  class="bd-placeholder-img mr-2 rounded" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false" th:src="@{/avatars/{img}(img = ${tempPost.user.avatar})}" width="32" height="32" th:title="'@'+${tempPost.user.username}"/>
                </a>
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">

                        <a th:href="@{/user/{id}(id = ${tempPost.user.id})}"><strong class="text-gray-dark" th:text="'@'+${tempPost.user.username}"></strong></a>

                        <div class="d-flex justify-content-between">
                            <h6>
                                <span class="p-1" th:if="${tempPost.rating>0}" th:text="'+'+${tempPost.rating}"></span>
                                <span class="p-1" th:if="${tempPost.rating<0}" th:text="${tempPost.rating}"></span>
                                <span class="p-1" th:if="${tempPost.rating==0}" th:text="${tempPost.rating}"> <a href="#" th:text="${tempPost.rating}"></a></span>
                            </h6>
                            <div sec:authorize="isAuthenticated()">
                                <a class="p-1" th:href="@{/posts/plus/{id}(id = ${tempPost.id})}"><img  class="" aria-label="Plus" src="/icons/navigate_plus.png" width="13" height="13"/></a>
                                <a class="p-1" th:href="@{/posts/minus/{id}(id = ${tempPost.id})}"><img  class="" aria-label="Minus"  src="/icons/navigate_minus.png" width="13" height="13"/></a>
                            </div>

                        </div>
                    </div>

                    <div>
                        <small><span th:text="${tempPost.date}"></span></small>
                    </div>
                    <span class="d-block" th:text="${tempPost.content}"></span>
                </div>
            </div>

        </th:block>

        <div sec:authorize="isAuthenticated()">
            <small class="d-block text-right mt-3">
                <form action="#" th:action="@{posts/addPost}" th:object="${post}" method="POST">
                    <div class="form-group">
                        <textarea class="form-control  form-control-sm" id="exampleFormControlTextarea1" rows="3"
                                  th:field="*{content}"></textarea>
                    </div>
                    <button class="btn btn-secondary btn-sm" type="submit">Send</button>
                </form>
            </small>
        </div>

    </div>

</main>



</body>
</html>