<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Register</title>
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/posts">Microblog</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
        </ul>

        <div sec:authorize="!isAuthenticated()" >
            <a class="nav-link" href="/login">Login </a>
        </div>
        <div sec:authorize="!isAuthenticated()" >
            <a class="nav-link" href="/user/register">Register </a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <img  class="bd-placeholder-img mr-2 rounded" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false" th:src="'/avatars/'+${#authentication.getPrincipal().getAvatar()}" width="32" height="32" th:title="'@'+${#authentication.getPrincipal().getUsername()}"/>

            <span th:text="'@'+${#authentication.getPrincipal().getUsername()}"></span>
            <span th:text="${#authentication.getPrincipal().getAuthorities()}"></span>

        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/logout">LOG OUT<span class="sr-only">(current)</span></a>
        </div>


    </div>
</nav>


<form class="container" action="#" th:action="@{/user/addUser}"  th:object="${user}" method="POST">

    <div class="row">



        <div class="col-md-6 order-md-2 mb-4">
            <h4 class="mb-3">Register</h4>
            <form class="needs-validation" novalidate>

                <!--     Handling input errors- existing username/password   -->
                <div th:if="${inputError}" class="alert alert-danger">
                    ERROR: <span th:text="${inputError}"></span>
                </div>


                <div class="mb-3">
                    <label for="username">Username<span class="text-muted">(*)</span></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">Password<span class="text-muted">(*)</span></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your password is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(*)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com" th:field="*{email}" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <button  class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
    </div>

</form>
</div>

</body>

</html>